<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409693590152-2i1pf6g2pv08qpqmth70o5uqgjsjgo22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409693590152-2i1pf6g2pv08qpqmth70o5uqgjsjgo22</string>
	<key>API_KEY</key>
	<string>AIzaSyBR0NGoL-sDAzCZh9lQup-F1ZjId13l-jA</string>
	<key>GCM_SENDER_ID</key>
	<string>409693590152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clean.arch</string>
	<key>PROJECT_ID</key>
	<string>test-app-e1829</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-e1829.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409693590152:ios:656ff1a67c450aaa68053d</string>
</dict>
</plist>